.git
.DS_Store # macOS specific ignore
airflow_settings.yaml
__pycache__/
astro
snowflake/
stager/
logs/

build-essential
freetds-dev
libkrb5-dev
default-libmysqlclient-dev

requirements
apache-airflow-providers-google==10.7.0
soda-core-bigquery==3.0.48
apache-airflow[async,mssql]
pymssql
apache-airflow-providers-odbc
python-decouple
apache-airflow-providers-microsoft-mssql==3.4.2


